/* later posting.jsx should be nicer */
.comment-container{
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#message{
  resize: none;
  width:90%;
  height:150px;
}

.message-to-user{
  text-align: center;
}
.img-upload-container{
  margin: 5px;
}

.btn-conainer{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.submit-btn{
  width: 200px;
  height: 50px;
  background-color: cadetblue;
  color: aliceblue;
  font-size: large;
  font-weight: bolder;
}